{% extends 'base.html.twig' %}

{% block title %}New Championnats{% endblock %}

{% block body %}
    <h1>Create new Championnats</h1>

    {{ include('championnats/_form.html.twig') }}

    <a href="{{ path('app_championnats_index') }}">back to list</a>
{% endblock %}
